{% load static i18n %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}{{ site_name }}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="chivke">
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% block css %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet">
    <link href="{% static 'css/project.min.css' %}" rel="stylesheet">
    {% endblock %}
    {% block extra_css %}
    {% endblock extra_css %}
  </head>
  <body>
    <div class="mb-1">
      {% include 'components/navbar.html' %}
    </div>
    <div class="cmp-container">
      {% if messages %}
        {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
        {% endfor %}
      {% endif %}
      {% if user.is_superuser %}
        {% include "components/admin_navbar.html" %}
      {% endif %}

      {% block content %}
        
      {% endblock content %}

    </div> <!-- /container -->
    {% include 'components/footer.html' %}

    {% block modal %}{% endblock modal %}

    {% block javascript %}
      <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
      <script src="{% static 'js/project.min.js' %}"></script>
    {% endblock javascript %}
    {% block extra_js %}{% endblock extra_js %}
  </body>
</html>
 
