{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Create user" %}{% endblock %}

{% block content %}
  {% include "admin/components/sidebar.html" %}
  <div id="admin-main-container">
    <h2 class="headed">
      {% blocktrans %}
        Are you sure you want to delete "{{ object }}"?
      {% endblocktrans %}
    </h2>
    <form
      id="user-admin-create"
      method="post"
      action="."
      class="ui form"
    >
      {% csrf_token %}
      <input
        class="ui button admin-submit"
        type="submit"
        value="{% trans 'Confirm' %}"
      >
    </form>
  </div>
{% endblock content %}
