{% extends CMS_TEMPLATE %}
{% load sekizai_tags %}
{% load static %}

{% block title %}
    {% block videolog_title %}
    {% endblock videolog_title %}
{% endblock title %}

{% block meta %}
    {% block videolog_meta %}
    {% endblock videolog_meta %}
{% endblock meta %}

{% block head_styles %}
    {% block videolog_styles %}
			<link rel="stylesheet" href="{{ STATIC_URL }}videolog/css/videolog.css">
            <link href="https://vjs.zencdn.net/7.6.5/video-js.css" rel="stylesheet">
    {% endblock videolog_styles %}
{% endblock head_styles %}

{% block site_menu_right %}
    {% include "videolog/particles/search.html" %}
{% endblock site_menu_right %}

{% block content %}
    {% block videolog_content %}
    {% endblock %}
{% endblock %}
