{% load djangovlog_tags %}
{% load cms_tags %}
<div class="blog-post">
    <h2 class="blog-post-title">{{ instance.entry.title }}{% if not instance.entry.is_published %} <span class="label label-default">Draft</span>{% endif %}</h2>
    <p class="blog-post-meta">{{ instance.entry.published_timestamp|date:"DATE_FORMAT" }}{% if instance.entry.author %} by {{ instance.entry.author|authordisplay }}{% endif %}</p>
    <p>
        {{ instance.entry.content }}
    </p>
    	{% render_placeholder instance.entry.video_placeholder %}

</div>