{% extends "videolog/base.html" %}
{% load videolog_tags %}
{% load cms_tags %}
{% load staticfiles %}
{% load sekizai_tags %}

{% block videolog_meta %}
    <meta name="description" content="
    {% if category %}
        {{ category.title }}
    {% elif people %}
        {{ people.title }}
    {% elif keyword %}
        {{ keyword.title }}
    {% else %}
        Todo
    {% endif %}">
{% endblock videolog_meta %}

{% block videolog_title %}
    {% if category %}
        {{ category.title }}
    {% elif people %}
        {{ people.title }}
    {% elif keyword %}
        {{ keyword.title }}
    {% elif query %}
        {{ query }}
    {% else %}
        Todo
    {% endif %}
{% endblock videolog_title %}

{% block videolog_content %}

<div class="entry-list-head">
    <div class="video-name">
        <div class="ui black horizontal huge label">
            {% if category %}
                {{ category.title }}
            {% elif people %}
                {{ people.title }}
            {% elif keyword %}
                {{ keyword.title }}
            {% elif query %}
                <i class="ui search icon"></i>
            {% else %}
                Todo
            {% endif %} >
        </div>
    </div>
    <div class="video-desc">
        {% if category %}
            {{ category.subtitle }}
        {% elif people %}
            {{ people.subtitle }}
        {% elif keyword %}
            {{ keyword.subtitle }}
        {% elif query %}
            Buscaste "{{ query }}"{% if not entries %} pero no se encontraron {% else %} y se encontraron {{ query_len }}{% endif %} resultados.
        {% else %}
            <p>Aquí se muestran todos los videos del archivo.</p>
        {% endif %}
    </div>
</div>
<div id="entries-container" class="ui center aligned grid">
    {% if not entries %}

    {% endif %}
    {% for entry in entries %}
        <div class="five wide column">
            <a class="ui fluid image" href="{{ entry.get_absolute_url }}" >
                <div class="dimmable">
                  <div class="ui dimmer">
                    <div class="content">
                      <div class="center">
                        <i class="ui big play icon"></i>
                      </div>
                    </div>
                  </div>
                  {# <div class="image" style="background: url({% if entry.video_thumb %}{{ entry.video_thumb.url }}{% else %}{{ STATIC_URL }}videolog/img/fondo3.jpeg{% endif %}); background-size: cover; height: 40vh;"></div> #}
                  <img class="image" src="{% if entry.video_thumb %}{{ entry.video_thumb.url }}{% else %}{{ STATIC_URL }}videolog/img/fondo3.jpeg{% endif %}"></img>
                </div>
                <div class="ui bottom attached label entry-v-label">
                    > {{ entry.title }}
                </div>
            </a>
            {% addtoblock "js" %}<script type="text/javascript">
                $('.fluid.image .dimmable').dimmer({ on: 'hover'});
            </script>{% endaddtoblock %}
        </div>
    {% endfor %}
</div>

{% endblock %}
