{% extends "videolog/base.html" %}
{% load videolog_tags %}
{% load cms_tags %}
{% load staticfiles %}
{% load sekizai_tags %}

{% block videolog_meta %}
    <meta name="description" content="Inicio">
{% endblock videolog_meta %}

{% block videolog_title %}
    Inicio
{% endblock videolog_title %}

{% block videolog_content %}

<div id="home-container" class="ui center aligned grid">
    {% for entry in entries %}
        {% if forloop.counter == 10 %}
            <div class="sixteen wide column">
                <div class="ui vertical inverted segment">
                    <div id="home-welcome"class="ui justified container">
                        <p>Bienvenidos al Centro de Memoria Audiovisual de Pirque, un lugar para conocer y salvaguardar saberes y costumbres de la comuna. En este archivo es posible recorrer la Colección “Guitarroneros de Pirque” del Archivo Patrimonial del Museo Chileno de Arte Precolombino.</p>
                        <p>Aquí encontrarás versos, músicas tradicionales, instrumentos musicales, memoria, cuentos, historias, identidad local. Se trata de 300 horas de filmaciones realizadas por Claudio Mercado y Gerardo Silva entre 1999 y 2010 en Pirque, en las que destacan las figuras ya fallecidas de los dos grandes maestros del canto a lo poeta y el guitarrón pircano: Santos Rubio y Osvaldo Ulloa.</p>
                        <div class="ui inverted divider"></div>
                        <p>El archivo puede ser visitado aleatoriamente, a través del buscador o a través de cuatro categorías de búsqueda que permiten acotar temas:</p>
                        <ul>
                          <li><h5 style="font-style:italic;">Registros generales</h5><p>Registros de conversaciones, clases, historias, paseos, encuentros, visitas, funerales, etc.</p></li>
                          <li><h5 style="font-style:italic;">Vigilias</h5><p>Registros de vigilias o encuentros en que los cantores cantan durante toda la noche. En Pirque se realizan para fechas determinadas en las casas de los cantores, en la parroquia o en velorios.</p></li>
                          <li><h5 style="font-style:italic;">Reuniones de la agrupación guitarroneros</h5><p>Registros de las reuniones de la Agrupación Herederos del Guitarrón Chileno, que funcionó en Pirque entre el año 2002 y 2010.</p></li>
                          <li><h5 style="font-style:italic;">Encuentros de guitarroneros</h5><p>Registros de los Encuentros Nacionales de Guitarroneros, organizados por la Agrupación Herederos del Guitarrón Chileno entre 2002 y 2010. A ellos asistían guitarroneros de todo el país.</p>
                        </ul>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="five wide column">
            <a class="ui fluid image" href="{{ entry.get_absolute_url }}" >
                <div class="dimmable">
                  <div class="ui dimmer">
                    <div class="content">
                      <div class="center">
                        <i class="ui big play icon"></i>
                      </div>
                      <br>
                      {{ entry.title }}
                    </div>
                  </div>
                  <div class="image" style="background: url({% if entry.video_thumb %}{{ entry.video_thumb.url }}{% else %}{{ STATIC_URL }}videolog/img/fondo3.jpeg{% endif %}); background-size: cover; height: 40vh;"></div>
                </div>
            </a>
            {% addtoblock "js" %}<script type="text/javascript">
                $('.fluid.image .dimmable').dimmer({ on: 'hover'});
            </script>{% endaddtoblock %}
        </div>
    {% endfor %}
</div>

{% endblock %}
