{% load i18n %}

<div class="ui dropdown" id="mobile-dropdown">
  <i class="bars icon"></i>
  <div class="ui inverted secondary pointing menu" style="background: #1b1c1d;">
    <div class="ui left input">
      {% include "components/search.html" %}
    </div>

    {% if site_conf.is_published or user.is_authenticated %}
      {% for page in menu_pages %}
        {% if page.is_visible or user.is_authenticated  %}
          {% if page.is_visible_in_navbar %}
            <a
              class="{% if page.selected %}active {% endif %}item"
              href="{{ page.url }}"
            >{{ page.title }}
            </a>
          {% endif %}
        {% endif %}
      {% endfor %}
      {% for collection in menu_collections %}
          <a class="{% if collection.selected %}active {% endif %}item" href="{{ collection.url }}">
            {{ collection.name }}
          </a>
        {% endfor %}
    {% endif %}
    {% with request.resolver_match.view_name as view_name %}
      {% if user.is_authenticated %}
        <a
          class="item{% if view_name == 'users:update' %} active{% endif %}"
          href="{% url 'users:update' %}"
        >@{{request.user.username}}
        </a>
        <a class="item" href="{% url 'users:logout' %}">{% trans "Log Out" %}</a>
      {% else %}
        <a
          class="item{% if view_name == 'users:login' %} active{% endif %}"
          href="{% url 'users:login' %}"
        >{% trans "Log In" %}
        </a>
      {% endif %}
    {% endwith %}
  </div>
</div>
