{% load i18n %}

<nav class="ui inverted secondary pointing menu">
  <div class="ui vertical segment">
    <div class="left menu" id="site-navbar-header-menu">
      <div class="header item">
        {% if not site_conf.collection_site or not page.collection_site and not current_collection %}
          <a class="text" href="/">{{ site_conf.name }}</a>
        {% elif page.collection_site %}
          <a class="text" href="{{page.collection_site.url}}">{{ page.collection_site.name }}</a>
        {% else %}
          <a class="text" href="{{current_collection.url}}">{{ current_collection.name }}</a>
        {% endif %}
      </div>
      <div class="right menu">
        {% include "components/search.html" %}
        {% with request.resolver_match.view_name as view_name %}
          {% if user.is_authenticated %}
          <a
            class="item{% if view_name == 'users:update' %} active{% endif %}"
            href="{% url 'users:update' %}"
          >@{{request.user.username}}
          </a>
          <a class="item" href="{% url 'users:logout' %}">{% trans "Log Out" %}</a>
        {% else %}
          <a
            class="item{% if view_name == 'users:login' %} active{% endif %}"
            href="{% url 'users:login' %}"
          >{% trans "Log In" %}
          </a>
        {% endif %}
        {% endwith %}
      </div>
    </div>
    {% if site_conf.is_published or user.is_authenticated %}
      <div class="left menu" id="site-navbar-subheader-menu">
        {% for page in menu_pages %}
          {% if page.is_visible or user.is_authenticated  %}
            {% if page.is_visible_in_navbar %}
              {% if not page.collection_site or page.selected or page.collection_site.slug == current_collection.slug%}
                <a
                  class="{% if page.selected %}active {% endif %}item"
                  href="{{ page.url }}"
                >{{ page.title }}
                </a>
              {% endif %}
            {% endif %}
          {% endif %}
        {% endfor %}
        {% if not site_conf.collection_site %}
          {% for collection in menu_collections %}
            <a class="{% if collection.selected %}active {% endif %}item" href="{{ collection.url }}">
              {{ collection.name }}
            </a>
          {% endfor %}
        {% else %}
          {% for collection in menu_collections %}
              {% if collection.selected or collection.slug == page.collection_site.slug%}
                {% for category in collection.categories %}
                  <a
                    class="item {% if category.selected %}active{% endif %}"
                    href="{{category.url}}"
                  >{{category.name}}
                  </a>
                {% endfor %}
                <a class="item" href="{{collection.url}}">{% trans "All" %}</a>
              {% endif %}
            {% endfor %}
        {% endif %}

      </div>
    {% endif %}
  </div>
</nav>
