#site-configuration-container {
  padding: 5% 15%;
  flex-basis: 100%;
  font-family: "BrandonRegular";
}

#admin-main-container {
  padding: 1rem 10vw;
  flex-basis: 100%;
  font-family: "BrandonRegular" !important;
  max-width: 1200px;

  h1,h2,h3,h4 {
    font-family: "BrandonRegular" !important;
  }
}

#admin-sidebar {
  font-family: "BrandonRegular" !important;
}

.admin-submit {
  font-family: "BrandonRegular" !important;
  margin: 1rem !important;
}

.button {
  font-family: "BrandonRegular" !important;
}