
#formset-list-container {
  margin: 5% 10%;

  .formset-list-actions {
  	display:flex;
  	justify-content: space-between;
  	margin: 3rem 0;
  }

}

#formset-list-footer-pagination {
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;
}
