
#admin-navbar {
  margin: 0;
  font-family: "BrandonRegular";

  #admin-mobile-dropdown {
    @media (min-width: $breakpoint) {
      display: none;
    }
  }
  > .menu > a.item,
  > a.item {
    &:not(.header) {
      @media (max-width: $breakpoint) {
        display: none;
      }
    }
  }
}
