
/*
  Centro de Memoria Local Pirque
  ###############################
  Hoja de estilo general
  
  > General
  > Menu de navegación
  > Inicio
  > Vista categoría
  > Vista de página

*/

/*
  General
*/

@font-face {
  font-family: "BrandonBlack";
  src: url("../private/BrandonGrotesque-Black.otf");
}
@font-face {
  font-family: "BrandonRegular";
  src: url("../private/BrandonGrotesque-Regular.otf");
}
@font-face {
  font-family: "BrandonLight";
  src: url("../private/BrandonGrotesque-Light.otf");
}

html {
  font-family: "BrandonRegular";
}

.cmp-container {
    margin-bottom: 150px;
    padding: 0;
    height: auto;
    padding-top: 1rem;
    font-family: "BrandonRegular";
}
.cmp-container .center.grid.aligned {
  margin-bottom:20vh;
}

/* 
  Pie
*/

.footer-spacer {
  padding-top: 2rem;
}
.cmp-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    background-color: #dedede;
    z-index: 9999;
    max-height: 150px;
    display: flex;
    font-family: "BrandonRegular";
}

.cmp-footer .footer-left {
  display: flex; width:50%;
  justify-content: left;
  align-items: center;
}

.cmp-footer .footer-right {
  display: flex; width:50%;
  justify-content: end;
  align-items: center;
}

.cmp-footer .footer-right .link {
  color: black;
  font-size: 1.5rem;
}
.cmp-footer .footer-right .link.text {
  padding-right: 1rem;
}
.cmp-footer .footer-text {
    max-width: 7rem;
    font-size: 0.8rem;
    line-height: 1.1;
    font-weight: bold;
}

.cmp-footer .footer-logo {
    height: 4rem;
    width: auto;
    padding: 0 1rem;
    margin:0 !important;
}

/*
  Menu de navegación
*/

#cmp-menu {
    margin-top: 0;
    border-radius:0;
    background: #000;
    font-family: "BrandonRegular";
}

#cmp-head-menu .text {
  font-size: 1.2rem !important;
  text-transform: uppercase;
}

#cmp-menu .vertical.segment {
    padding:0; width:100%;
}
#cmp-menu .item,
#cmp-menu .item .text {
    /*text-transform: uppercase; */
    font-size: 1.2rem;
}

#cmp-menu #cmp-head-menu {
    border-bottom: solid 1px white;
}

#cmp-menu #cmp-subhead-menu .item {
    border-right: solid 1px white;
}

#cmp-search-item {
    border-left: solid 1px white ;

}

#cmp-search-item #searchbox {
  color:#fff;
  margin-left: .5rem;
}

::placeholder {
  color: #fff;
  opacity: 1;
  font-size: 1rem;
}

#cmp-menu .administrador {
  border-left: 1px white solid;
  text-transform: uppercase;
}

#cmp-subhead-menu {
  justify-content: space-between;
}
#cmp-subhead-menu .item {
  width: 12.5%;
  justify-content: center;
}
/*
  Inicio
*/

#inicio-imagen {
  margin-top: -2rem;
}
#inicio-container {
  width: 50%;
  margin: 1rem auto;
  font-size: 1.4rem;
}

#home-container {
  margin: -2rem -5rem;
}
#home-container >.column {
  padding:0;
}

#home-welcome {
  padding: 2rem 4rem;
  max-width: 50% !important;
}

#home-container >.five.column,
#home-container .image,
#home-container .dimmable {
  max-height: 25vh;
}

#header-home-page {
  background-size:cover; 
  margin-top:-1rem; 
  padding-top:8rem;
}
#subheader-home-page {
  margin: auto;
  border:solid 5px white;
}

#home-welcome ul li {
  margin-bottom: 1rem;
}

/*
  Vista de categorías
*/

/*
  Vistas de páginas
*/

#proyecto {
  margin-top: -2rem;
  height:100%;

}
#proyecto .container {
  margin: 4rem auto;
  width: 40%;
}


