{% extends "viewer/base.html" %}

{% block content %}
  <div
    class="page-header-image"
    style="
      background-image: url('{{archive_data.image}}');
      background-color: #dedede;
      height: 20vh;
    "
  ></div>
  <div class="header-filter-container">
    <h1 class="ui header huge filter-name">{{archive_data.name}}</h1>
    <div class="filter-description">
      {{archive_data.description}}
    </div>
  </div>

  <div class="ui container center">
    <h2 class="ui header dividing">{{archive_data.collections.label}}</h2>
    <div class="ui link cards">
      {% for collection in archive_data.collections.items %}
        <a class="card" href="{% url 'viewer:piece_list' %}?collection={{collection.slug}}">
          <div class="image">
            <img src="{{collection.image}}">
          </div>
          <div class="content">
            <div class="header">
              {{collection.name}}
            </div>
            <div class="description">
              {{collection.description}}
            </div>
          </div>
        </a>
      {% endfor %}
    </div>
  </div>
{% endblock content %}
