{% load static i18n %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}{{ site.title }}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="{{meta.author}}">
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% block css %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet">
    <link href="{% static 'css/project.min.css' %}" rel="stylesheet">
    {% endblock %}
    {% block extra_css %}
    {% endblock extra_css %}
  </head>
  <body>
    {% if request.user.is_superuser %}
      {% include "admin/navbar.html" %}
    {% endif %}

    {% include 'viewer/components/navbar/main.html' %}

    <div class="base-content-container">
      {% block sidebar %}
      {% endblock sidebar %}
      <div id="block-content-container">
        {% if messages %}
          <div class="base-content-messages">
            {% for message in messages %}
                <div class="ui message {% if message.tags %}{{ message.tags }}{% endif %}">
                  <i class="close icon"></i>
                  <div class="header">{{ message }}</div>
                </div>
            {% endfor %}
          </div>
        {% endif %}
        {% block content %}
        {% endblock content %}
      </div>
    </div>
    {% include 'components/footer.html' %}
    {% block modal %}{% endblock modal %}
    {% block javascript %}
      <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
      <script src="{% static 'js/project.min.js' %}"></script>
      <script type="text/javascript">
        $('.message .close')
          .on('click', function() {
            $(this)
              .closest('.message')
              .transition('fade')
            ;
          });
        $('.activating.element')
          .popup();
        $('.ui.dropdown')
          .dropdown()
        ;
      </script>
    {% endblock javascript %}
    {% block extra_js %}
    {% endblock extra_js %}
  </body>
</html>
