
@font-face {
  font-family: "BrandonBlack";
  src: url("../fonts/BrandonGrotesque-Black.otf");
}
@font-face {
  font-family: "BrandonRegular";
  src: url("../fonts/BrandonGrotesque-Regular.otf");
}
@font-face {
  font-family: "BrandonLight";
  src: url("../fonts/BrandonGrotesque-Light.otf");
}


.footer-spacer {
  padding: 4rem;
}