
@font-face {
  font-family: "BrandonBlack";
  src: url("../fonts/BrandonGrotesque-Black.otf");
}
@font-face {
  font-family: "BrandonRegular";
  src: url("../fonts/BrandonGrotesque-Regular.otf");
}
@font-face {
  font-family: "BrandonLight";
  src: url("../fonts/BrandonGrotesque-Light.otf");
}

h1 {
  font-family: "BrandonLight" important!;
}

.base-content-container {
  display: flex;
}


.footer-spacer {
  padding: 4rem;
}

.admin-submit {
  font-family: "BrandonBlack" !important;
  margin: 1rem !important;
}
