{% extends "base.html" %}
{% load i18n %}

{% block content %}
  <div>
    {% if not site_conf.collection_site %}
      <div class="ui secondary pointing menu" id="categories-menu">
        {% for collection in menu_collections %}
          {% if collection.selected %}
            {% for category in collection.categories %}
              <a
                class="item {% if category.selected %}active{% endif %}"
                href="{{category.url}}"
              >{{category.name}}
              </a>
            {% endfor %}
          {% endif %}
        {% endfor %}
        <div class="ui item dropdown" id="categories-menu-mobile">
          {% trans "Categories" %}
          <i class="dropdown icon"></i>
          <div class="menu left">
            {% for collection in menu_collections %}
              {% if collection.selected %}
                {% for category in collection.categories %}
                  <a
                    class="item {% if category.selected %}active{% endif %}"
                    href="{{category.url}}"
                  >{{category.name}}
                  </a>
                {% endfor %}
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    {% endif %}

    <div class="header-filter-container">
      <h1 class="filter-name ui header">
        {{object.name}}
      </h1>
      {% if user and user.is_superuser %}
        <a href="{{object.get_update_url}}"><h3>{% trans "Update" %}</h3></a>
      {% endif %}
      {% if object.description %}
        <div class="filter-description">{{object.description}}</div>
      {% endif %}
    </div>
    {% include "videos/components/gallery.html" %}
  </div>
{% endblock content %}
