{% extends "base.html" %}
{% load i18n %}
{% block content %}
  {% include "admin/components/sidebar.html" %}
  <div id="video-admin-container" class="ui segment">
    <h1 class="ui dividing header">
      {% if object.code %}
        {{object.code}}
      {% else %}
        {% trans "Create Video" %}
      {% endif %}
    </h1>
    {% if object.code %}
      <div class="ui list">
        <div class="item">
          <label>{% trans "Title" %}:</label> {{object.meta.title}}
        </div>
        <div class="item">
          <label>{% trans "Created at" %}:</label> {{object.created_at}}
        </div>
        <div class="item">
          <label>{% trans "Updated at" %}:</label> {{object.created_at}}
        </div>
      </div>
    {% endif %}

    <form id="video-admin-form" class="ui form" method="post">
      {{ form.managment_form }}
      {% for hidden in form.hidden_fields %}
        {{ hidden }}
      {% endfor %}
      {% csrf_token %}
      <div class="form-group">
        <h4 class="ui dividing header">{% trans "System fields" %}</h4>
        {% for field in form.visible_fields %}
          <div class="field {% if field.errors %}error{% endif %}">
            {% if field.name == "is_visible" %}
              <div class="ui slider checkbox">
                <label>{{field.label}}</label>{{field}}
              </div>
            {% else %}
              <label>{{field.label}}</label>{{field}}
            {% endif %}
            {% if field.errors %}
              <div class="ui pointing red basic label">
                {% for error in field.errors %}{{error}}{% endfor %}
              </div>
            {% endif %}
          </div>
        {% endfor %}
        <input type="submit" class="ui button video-admin-submit" value="{% trans 'Save' %}">
      </div>

      <div class="form-group">
        <h4 class="ui dividing header">{% trans "Video Providers" %}</h4>
        {{ providers_formset.management_form }}
        <table class="ui celled table">
          <thead>
            <tr id="video-providers-head-fields">
              {% for form in providers_formset %}
                {% if forloop.first %}
                  {% for field in form.visible_fields %}
                    <th>{{field.label}}</th>
                    {% if forloop.first %}
                      <th>{% trans "Online" %}</th>
                    {% endif %}
                  {% endfor %}
                {% endif %}
              {% endfor %}
            </tr>
          </thead>
          <tbody id="video-providers-tbody">
            {% for form in providers_formset %}
              <tr>
                {% for hidden in form.hidden_fields %}
                  {{ hidden }}
                {% endfor %}
                {% for field in form.visible_fields %}
                  <td class="field {% if field.errors %}error{% endif %}" data-label="{{field.help_text}}">
                    {% if field.name == "DELETE" or field.name == "active"%}
                      <div class="ui checkbox">
                        {{field}}
                      </div>
                    {% else %}
                      {{ field }}
                    {% endif %}
                    {% if field.errors %}
                      <div class="ui pointing red basic label">
                        {% for error in field.errors %}{{error}}{% endfor %}
                      </div>
                    {% endif %}
                  </td>
                  {% if forloop.first %}
                    <td class="field">
                      {% if form.instance.pk %}
                        {% if form.instance.online %}
                          <i class="ui check green circle icon"></i>
                          {{form.instance.checked_at}}
                        {% else %}
                          <i class="ui exclamation red circle icon"></i>
                          {{form.instance.checked_at}}
                        {% endif %}
                      {% else %}
                        <i class="ui question yellow circle icon"></i>
                      {% endif %}
                    </td>
                  {% endif %}
                {% endfor %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <input type="submit" class="ui button video-admin-submit" value="{% trans 'Save' %}">
      </div>


      <div id="video-meta-form" class="ui segment">
        <h4 class="ui dividing header">Meta fields</h4>
        {{ meta_form.managment_form }}
          {% for hidden in meta_form.hidden_fields %}
            {{ hidden }}
          {% endfor %}
        {% for field in meta_form.visible_fields %}
          <div class="field {% if field.errors %}error{% endif %}">
            <label>{{field.label}}</label>
            {{field}}
            {% if field.errors %}
              <div class="ui pointing red basic label">
                {% for error in field.errors %}{{error}}{% endfor %}
              </div>
            {% endif %}
          </div>
        {% endfor %}
      </div>
      <input type="submit" class="ui button video-admin-submit" value="{% trans 'Save' %}">
    </form>
  </div>



{% endblock content %}

{% block extra_js %}
<script type="text/javascript">
  $('.ui.checkbox')
    .checkbox()
  ;
</script>
{% endblock extra_js %}
