{% extends "base.html" %}

{% load i18n %}

{% block title %}
  {{formset_title}}
{% endblock title %}

{% block sidebar %}
  {% include "admin/components/sidebar.html" %}
{% endblock sidebar %}

{% block content %}
  <div id="admin-main-container">
    <h1 class="ui dividing header">{{title}}</h1>
    <div class="inline fields">
      <div class="field">
        <label>
          {% trans "Total" %}{% if query_search %}{% trans " for the search" %}{% endif %}:
        </label>
        {{total_of_objects }}
      </div>
    </div>
    <div class="ui divider"></div>
    <div class="formset-list-actions segment">
      <form
        id="searchform"
        action=""
        method="get"
        accept-charset="utf-8"
      >
        <div class="ui action input">
          <input type="text" name="q" value="{% if query_search %}{{query_search}}{% endif %}">
          <button class="ui button" type="submit">
            {% trans "Search" %}
          </button>
        </div>
      </form>
      <div class="ui divider"></div>
    </div>

    <form class="ui form" method="post">
      {% csrf_token %}
      {{formset.management_form}}
      <input type="hidden" name="query_search" value="{% if query_search %}{{query_search}}{% endif %}">
      <input type="hidden" name="page_number" value="{% if page_obj.has_previous or page_obj.has_next %}{{page_obj.number}}{% endif %}">
      <div id="formset-list-footer-pagination">
        <input type="submit" class="ui button" value="{% trans 'Save' %}">
        {% if is_paginated %}
          <div class="ui pagination menu">
            {% include "components/paginator.html" %}
          </div>
        {% endif %}
      </div>
      <table class="ui celled table">
        <thead>
          <tr id="video-{{label_plural}}-head-fields">
            <th>#</th>
            {% for form in formset %}
              {% if forloop.first %}
                {% for field in form.visible_fields %}
                  <th>{{field.label}}</th>
                {% endfor %}
                {% if form.instance.pk and form.instance.get_update_url %}
                  <th>{% trans "Update" %}</th>
                {% endif %}
              {% endif %}
            {% endfor %}
          </tr>
        </thead>
        <tbody id="video-{{label_plural}}-tbody">
          {% for form in formset %}
            {% for hidden in form.hidden_fields %}
              {{ hidden }}
            {% endfor %}
            <tr>
              <td class="field">{{forloop.counter}}</td>
              {% for field in form.visible_fields %}
                <td class="field {% if field.errors %}error{% endif %}" data-label="{{field.help_text}}">
                  {% if field.name == "DELETE" %}
                    <div class="ui checkbox">
                      {{field}}
                    </div>
                  {% else %}
                    {{ field }}
                  {% endif %}
                  {% if field.errors %}
                  <div class="ui pointing red basic label">
                    {% for error in field.errors %}{{error}}{% endfor %}
                  </div>
                {% endif %}
                </td>
              {% endfor %}
              {% if form.instance.pk and form.instance.get_update_url %}
                <td class="field">
                  <a class="ui button" href="{{form.instance.get_update_url}}">
                    {% trans "Update" %}
                  </a>
                </td>
              {% endif %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <div id="formset-list-footer-pagination">
        <input type="submit" class="ui button" value="{% trans 'Save' %}">
        {% if is_paginated %}
          <div  class="ui pagination menu">
            {% include "components/paginator.html" %}
          </div>
        {% endif %}
      </div>

    </form>
  </div>

{% endblock content %}

{% block extra_js %}
<script type="text/javascript">
  $('.ui.checkbox')
    .checkbox()
  ;
  $('.ui.dropdown')
    .dropdown()
  ;
</script>
{% endblock extra_js %}
