{% extends "base.html" %}

{% load i18n %}

{% block title %}
  {{formset_title}}
{% endblock title %}

{% block sidebar %}
  {% include "admin/components/sidebar.html" %}
{% endblock sidebar %}

{% block content %}
  <div id="admin-main-container">
    {% if main_title %}
      <h1 class="ui dividing header">{{main_title}}</h1>
    {% else %}
      <h1 class="ui dividing header">{{title}}</h1>
    {% endif %}
    <div class="ui grid">
    {% if breadcrumb %}
      <div class="left floated six wide column">
        <div class="ui breadcrumb">
          {% for bread in breadcrumb %}
            {% if bread.view %}
              <a class="section" href="{% url bread.view %}">{{bread.name}}</a>
            {% else %}
              <div class="section">{{bread.name}}</div>
            {% endif %}
            <i class="right angle icon divider"></i>
          {% endfor %}
          <div class="section">{{title}}</div>
        </div>
      </div>
    {% endif %}
    {% if extra_links %}
      <div class="rigth floated six wide column">
        <div class="ui breadcrumb">
          {% for bread in extra_links %}
            {% if bread.view %}
              <a class="section" href="{% url bread.view %}">{{bread.name}}</a>
            {% else %}
              <div class="section">{{bread.name}}</div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    {% endif %}

    </div>
    <div class="ui divider"></div>
    {% if main_title %}
        <h2 class="ui dividing header">{{title}}</h2>
    {% endif %}
    <div class="inline fields">
      <div class="field">
        <label>
          {% trans "Total" %}{% if query_search %}{% trans " for the search" %}{% endif %}:
        </label>
        {{total_of_objects }}
      </div>
    </div>
    <div class="ui divider"></div>
    <div class="formset-list-actions segment">
      <form
        id="searchform"
        action=""
        method="get"
        accept-charset="utf-8"
      >
        <div class="ui action input fluid">
          <input type="text" name="q" value="{% if query_search %}{{query_search}}{% endif %}">

          <button class="ui button" type="submit">
            {% trans "Search" %}
          </button>
          {% if filter_options %}
            <span style="padding-left: 5px"></span>
            {% for field, options in filter_options.items %}
              <select class="ui dropdown button" name="{{field}}">
                <i class="filter icon"></i>
                  <option class="item" value=" ">Select {{field}}</option>
                  {% for option in options %}
                    <option
                      class="item"
                      value="{{option.value}}"
                      {% for applied_key, value in filter_applied.items %}
                        {% if field == applied_key and option.value == value %}
                          selected
                        {% endif %}
                      {% endfor %}

                    >{{option.name}}</option>
                  {% endfor %}
              </select>
            {% endfor %}
          {% endif %}
          {% if create_link %}
            <span style="padding-left: 15px"></span>
            <button onclick="location.href='{{create_link}}'" type="button"
            class="ui button">{% trans "Create" %}</button>
          {% endif %}
        </div>

      </form>
      <div class="ui divider"></div>
    </div>

    <form class="ui form" method="post">
      {% csrf_token %}
      {{formset.management_form}}
      <input type="hidden" name="query_search" value="{% if query_search %}{{query_search}}{% endif %}">
      <input type="hidden" name="page_number" value="{% if page_obj.has_previous or page_obj.has_next %}{{page_obj.number}}{% endif %}">
      <div id="formset-list-footer-pagination">
        <div class="ui buttons">
          <input type="submit" class="ui button" value="{% trans 'Save' %}">
        </div>
        {% if is_paginated %}
          <div class="ui pagination menu">
            {% include "components/paginator.html" %}
          </div>
        {% endif %}
      </div>
      <table class="ui celled table">
        <thead>
          <tr id="video-{{label_plural}}-head-fields">
            <th>#</th>
            {% for form in formset %}
              {% if forloop.first %}
                {% for field in form.visible_fields %}
                  {% if field.name not in compact_fields %}
                    <th>{{field.label}}</th>
                  {% endif %}
                {% endfor %}
                {% if form.instance.pk and form.instance.get_update_url %}
                  <th>{% trans "Update" %}</th>
                {% endif %}
              {% endif %}
            {% endfor %}
          </tr>
        </thead>
        <tbody id="video-{{label_plural}}-tbody">
          {% for form in formset %}
            {% for hidden in form.hidden_fields %}
              {{ hidden }}
            {% endfor %}
            <tr>
              <td class="field">{{forloop.counter}}</td>
              {% for field in form.visible_fields %}
                {% if field.name not in compact_fields %}
                  <td class="field {% if field.errors %}error{% endif %}" data-label="{{field.help_text}}">
                    {% if field.name == "DELETE" or field.field.widget.input_type == "checkbox"%}
                      <div class="ui checkbox">
                        {{field}}
                      </div>
                    {% else %}
                      {{ field }}
                    {% endif %}
                    {% if field.errors %}
                      <div class="ui pointing red basic label">
                        {% for error in field.errors %}{{error}}{% endfor %}
                      </div>
                    {% endif %}
                  </td>
                {% endif %}
              {% endfor %}
              {% if form.instance.pk and form.instance.get_update_url %}
                <td class="field">
                  <a class="ui button" href="{{form.instance.get_update_url}}">
                    {% trans "Update" %}
                  </a>
                </td>
              {% endif %}
            </tr>
            {% if compact_fields %}
              <tr>
                <td></td>
                <td colspan="100%">
                  {% for field in form.visible_fields %}
                    {% if field.name in compact_fields %}
                      {{ field }}
                    {% endif %}
                  {% endfor %}
                </td>
              </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
      <div id="formset-list-footer-pagination">
        <input type="submit" class="ui button" value="{% trans 'Save' %}">
        {% if is_paginated %}
          <div  class="ui pagination menu">
            {% include "components/paginator.html" %}
          </div>
        {% endif %}
      </div>

    </form>
  </div>

{% endblock content %}

{% block extra_js %}
<script type="text/javascript">
  $('.ui.checkbox')
    .checkbox()
  ;
  $('.ui.dropdown')
    .dropdown()
  ;
</script>
{% endblock extra_js %}
