
.entry-list-head {
  padding: 3rem 0;
  display: flex;
  width: 65%;
  margin:auto;
  justify-content: space-between;
  min-height: 4rem;
}

.entry-list-head .video-name{
  max-width: 26%;
}

.entry-list-head .video-name .label{
  border-radius: 0;
  text-transform: uppercase;
  font-size: 1.8rem;
  background: black !important;
}
.entry-list-head .video-desc {
  width: 70%;
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: justify;
}

#entries-container {
  align-items: center;
}

#entries-container .five.column {
  padding:3rem;
}

.label.entry-v-label {
  background: black !important;
  font-size: 1.2rem;
  text-align: start;
  color: white;
}

.vlog-description {
  margin:1rem;
  padding:1rem 0;
  font-size: 1.5vh;
  border-top: solid 0.5vh black;
  border-bottom: solid 0.5vh black;
}

.vlog-secuencia {
  margin: 1rem;
  padding:1rem 0;
  font-size: 1.5vh;
  border-bottom: solid 0.5vh black;
}

.vlog-search {
  margin: 1rem !important;
  padding: 1rem 0;
}

.video-post-title {
  margin: 2rem 3rem !important;
}

/*
 * Video Log basic styles

 * Video Log entry list view
 */

div#header-video-list-page {
  background-size:cover; 
  margin-top:-1rem; 
  padding-top:8rem;
}
img#subheader-video-list-page {
  float:right;
  z-index:1;
  border:solid 5px white;
}

.videolog.container .vertical.menu{
  margin:0; 
}

.videolog.container .pagination.menu{
  margin:1rem; 
}

/*
 * Video Log entry detail view
 */



#vlog-player {
  padding:0;
  min-height: 50vh;
  display: flex;
}

#vlog-player video {
  width:100%;
}

#vlog-player figcaption{
  overflow-y:scroll; 
  display: inline-block;
  max-height: 60vh;

}
#vlog-player figcaption #chapters-menu{
  margin:0;
}

#entry-desc-chap,
.entry-description {
  height: 20vh;
  overflow-y: scroll;
  -moz-scrollbars-vertical;
}
#entry-desc-chap {
  padding: 2rem 0;
}

