{% load i18n %}
<div class="ui inverted segment" id="site-navbar">
  {% include 'viewer/components/navbar/mobile.html' %}
  <nav class="ui inverted secondary pointing menu">
    <div class="ui vertical segment">
      <div class="left menu" id="site-navbar-header-menu">
        <div class="header item">
          <a class="text" href="{{site.root_url}}">{{ site.title }}</a>
        </div>
        <div class="right menu">
          {% include "viewer/components/navbar/search.html" %}
          {% for item in site.user_menu %}
            <a
              class="item{% if not item.link %} active{% endif %}"
              href="{% if item.link %}{{item.link}}{% endif %}"
            >{{item.name}}
            </a>
          {% endfor %}
        </div>
      </div>
      {% if site.main_menu %}
        <div class="left menu" id="site-navbar-subheader-menu">
          {% for menu in site.main_menu %}
            <a
              class="item{% if menu.active %} active{% endif %}"
              href="{{menu.link}}"
            >{{menu.name}}</a>
          {% endfor %}
        </div>
      {% endif %}
      {% if site.submenus %}
        {% for submenu in site.submenus %}
          {% if submenu %}
            <div class="ui secondary menu">
              {% for menu in submenu %}
                <a
                  class="item{% if menu.active %} active{% endif %}"
                  href="{% if menu.link %}{{menu.link}}{% endif %}"
                  href="{{menu.link}}"
                >{{menu.name}}</a>
              {% endfor %}
            </div>
          {% endif %}
        {% endfor %}
      {% endif %}
    </div>
  </nav>
</div>
