{% load static %}

<div class="footer-spacer"></div>
<div class="cmp-footer">
    <div class="ui footer-left images">
        <img class="footer-logo" alt="logo del museo precolombino" src="{% static 'images/logos/logo_museo_2019_BN.png' %}">
        <img class="footer-logo" alt="logo de fundación origen" src="{% static 'images/logos/logo_escuela_1.png' %}">
        <img class="footer-logo" alt="logo de escuela agroecológica" src="{% static 'images/logos/logo_escuela_2.png' %}">
        <img class="footer-logo" alt="logo fondart" src="{% static 'images/logos/logo_fondart.png' %}">
    </div>
    <div class="ui footer-right">
        <a class="link text" href="/saber-mas">Saber más</a>
        <a class="link icon item" href="{{ SOCIALMEDIA_FACEBOOK }}" ><i class="borderer link facebook icon"></i></a>
        <a class="link icon item" href="{{ SOCIALMEDIA_TWITTER }}" ><i class="borderer link twitter icon"></i></a>
        <a class="link icon item" href="{{ SOCIALMEDIA_INSTAGRAM }}" ><i class="borderer link instagram icon"></i></a>
        <a class="link icon item" href="{{ SOCIALMEDIA_YOUTUBE }}" ><i class="borderer link youtube icon"></i></a>
    </div>
</div>
