{% load static %}

<div class="footer-spacer"></div>
<div class="cmp-footer">
    <div class="ui footer-left images">
        <img class="footer-logo" alt="logo del museo precolombino" src="{% static 'images/logos/logo_museo_2019_BN.png' %}">
        <img class="footer-logo" alt="logo de fundación origen" src="{% static 'images/logos/logo_escuela_1.png' %}">
        <img class="footer-logo" alt="logo de escuela agroecológica" src="{% static 'images/logos/logo_escuela_2.png' %}">
        <img class="footer-logo" alt="logo fondart" src="{% static 'images/logos/logo_fondart.png' %}">
    </div>
    <div class="ui footer-right">
      <a class="link text" href="/saber-mas">Saber más</a>
      {% for social_media in site_conf.social_medias.all %}
        <a class="link icon item" href="{{social_media.url}}">
          {% if not social_media.css_class %}
            <i class="borderer link {{social_media.provider}} icon"></i>
          {% endif %}
        </a>
      {% endfor %}
    </div>
</div>
