
<nav class="ui inverted menu" id="cmp-menu">
  <div class="ui vertical segment" style="width:100%">
    <div class="left menu" id="cmp-head-menu">
      <div class="header item"><a class="text" href="/">{{ site_name }}</a></div>
      <div class="right menu" >
        {% include "components/search.html" %}
          <a class="item administrator" href="{% if user.is_authenticated %}/admin {% else %}{% url 'account_login' %}{% endif %}">Administrador</a>
        {% if user.is_authenticated %}
          <a class="mini administrator item" href="{% url 'account_logout' %}">Cerrar sesión</a>
        {% endif %}
      </div>
    </div>
    <div class="left menu" id="cmp-subhead-menu">
      {% for page in menu_pages %}
        <a class="{% if page.selected %}active {% endif %}item" href="{{ page.url }}">{{ page.title }}</a>
      {% endfor %}
    </div>
  </div>
</nav>
