<div class="video-gallery-container">
  <div class="full-list-content">
    {% for video in page_obj %}

      {% if video.is_visible or user.is_superuser and video.code %}
        <a
          class="video-selector" href="{% url 'videos:detail' video.code %}"
          style="{% if video.thumb %}background-image: url('{{video.thumb.url}}');{% else %}background-color: #dedede;{% endif %}"
        >
          {% if not video.is_visible %}
            <div class="not-public-label ui icon">
              <i class="eye slash icon"></i>
            </div>
          {% endif %}
          <div class="duration-label">{{video.meta.duration|time:"H:i"}}</div>
          <div class="video-label">
            {{video.meta.title}}
          </div>
        </a>
      {% endif %}
    {% endfor %}
  </div>
  <div class="pagination-container">
    <div class="ui pagination menu huge">
      {% if page_obj.has_previous %}
        {% if page_obj.previous_page_number != 1 %}
          <a class="item"href="?page=1">1</a>
        {% endif %}
        {% if page_obj.previous_page_number != 2 %}
          <div class="item">...</div>
        {% endif %}
        <a class="item" href="?page={{ page_obj.previous_page_number }}">
          {{page_obj.previous_page_number}}
        </a>
      {% endif %}
      <div class="disabled item">{{ page_obj.number }}</div>
      {% if page_obj.has_next %}
        {% if page_obj.next_page_number != page_obj.paginator.num_pages %}
          <a class="item" href="?page={{ page_obj.next_page_number }}">
            {{ page_obj.next_page_number }}
          </a>
          <div class="item">...</div>
        {% endif %}
        <a class="item" href="?page={{ page_obj.paginator.num_pages }}">
          {{ page_obj.paginator.num_pages }}
        </a>
      {% endif %}
    </div>
  </div>
</div>
