{% extends "viewer/base.html" %}
{% load i18n %}

{% block sidebar %}
  {% include "admin/sidebar.html" %}
{% endblock sidebar %}

{% block content %}
  <div id="admin-main-container">
    <form
      id="login-form"
      method="post"
      action="."
      class="ui form"
    >
      <h1 class="header">{% trans "Change Password" %}</h1>
      {% csrf_token %}
      {% for field in form %}
        <div class="field">
          <label>{{field.label_tag}}</label>
          {{field}}
          {% if field.errors %}
            <div class="ui pointing red basic label">
              {% for error in field.errors %}{{error}}{% endfor %}
            </div>
          {% endif %}
        </div>
      {% endfor %}
      <input type="submit" class="ui button admin-submit" value="{% trans 'Save' %}">
    </form>
  </div>
{% endblock content %}
