
#site-navbar {
  margin: 0;
  padding: 0;
  border-radius: 0;
  font-family: "BrandonRegular";

  .text {
  	font-size: 1.2rem;
  	text-transform: uppercase;
  	font-family: "BrandonRegular";
  }
  .item {
    font-family: "BrandonRegular";
  }
  .ui.segment {
  	width: 100%;
    padding: .5rem;
  }

  #searchform {
    > .inverted.input {
      align-items: flex-end;
      height: 100%;
      padding: 0;

      #searchbox {
        margin: 10px;
      }
      > .icon.button {
        padding: .2rem;
      }
    }
  }
}
