{% extends "base.html" %}


{% block content %}
  <form class="ui form segment" style="margin: 2rem 10%;" method="post">
    <h1 class="ui dividing header">Categorization</h1>
    <div class="fields">
      <div class="field">
        <label>Code:</label> {{object.code}}  
      </div>
      <div class="field">
        <label>Title:</label> {{object.meta.title}}
      </div>
    </div>
    {% csrf_token %}
    {{ form.managment_form }}
      {% for hidden in form.hidden_fields %}
        {{ hidden }}
      {% endfor %}
    {% for field in form.visible_fields %}
      <div class="field {% if field.errors %}error{% endif %}">
        <label>{{field.label}}</label>
        {{field}}
        {% if field.errors %}
          <div class="ui error message">{{field.errors}}</div>
        {% endif %}
      </div>
    {% endfor %}
    <div class="field">
      <input type="submit" class="ui button" value="Save">
    </div>
  </form>
{% endblock content %}


{% block extra_js %}
<script type="text/javascript">
  $('.ui.dropdown')
    .dropdown()
  ;
</script>
{% endblock extra_js %}
