#site-configuration-container {
  padding: 5% 15%;
  flex-basis: 100%;
  font-family: "BrandonRegular";
}

#admin-main-container {
  padding: 0 15%;
  flex-basis: 100%;
  font-family: "BrandonRegular";
  max-width: 1200px;
}

.admin-submit {
  font-family: "BrandonRegular" !important;
  margin: 1rem !important;
}
