{% extends "base.html" %}
{% load cms_tags %}
{% load sekizai_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block meta %}
    <meta name="description" content="{% page_attribute 'page_title' %}">
{% endblock meta %}

{% block head_styles %}
    <link rel="stylesheet" href="{{ STATIC_URL }}archivopirke/archivopirke.css">
{% endblock head_styles %}

{% block content %}
    {% if request.current_page.headerextension.header_image %}
    <img id="inicio-imagen" class="ui image fluid" src="{{ request.current_page.headerextension.header_image.url }}">
    {% endif %}
    <div class="ui vertical segment">
        <div id="inicio-container" class="txt">{% placeholder "contenido" %}</div>
    </div>
{% endblock content %}
