@charset "UTF-8";
.alert-debug {
  background-color: #fff;
  border-color: #d6e9c6;
  color: #000; }

.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48; }

@font-face {
  font-family: "BrandonBlack";
  src: url("../fonts/BrandonGrotesque-Black.otf"); }

@font-face {
  font-family: "BrandonRegular";
  src: url("../fonts/BrandonGrotesque-Regular.otf"); }

@font-face {
  font-family: "BrandonLight";
  src: url("../fonts/BrandonGrotesque-Light.otf"); }

html {
  font-family: "BrandonRegular"; }

.cmp-container {
  margin-bottom: 150px;
  padding: 0;
  height: auto;
  padding-top: 16px;
  padding-top: 1rem;
  font-family: "BrandonRegular"; }

.cmp-footer {
  position: fixed;
  bottom: 0;
  z-index: 9999;
  max-height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "BrandonRegular";
  padding: 16px;
  padding: 1rem;
  background-color: #dedede;
  width: 100%;
  max-height: 150px; }
  .cmp-footer .footer-left,
  .cmp-footer .footer-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .cmp-footer .footer-right {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    .cmp-footer .footer-right .link {
      color: black;
      font-size: 24px;
      font-size: 1.5rem; }
    .cmp-footer .footer-right .text {
      padding-right: 16px;
      padding-right: 1rem; }
  .cmp-footer .footer-left {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left; }
    .cmp-footer .footer-left .footer-logo {
      height: 64px;
      height: 4rem;
      width: auto;
      padding: 0 16px;
      padding: 0 1rem;
      margin: 0 !important; }

/*
  Menu de navegación
*/
#cmp-menu {
  margin-top: 0;
  border-radius: 0;
  background: #000;
  font-family: "BrandonRegular"; }
  #cmp-menu .text {
    font-size: 19.2px !important;
    font-size: 1.2rem !important;
    text-transform: uppercase; }
  #cmp-menu .vertical.segment {
    padding: 0;
    width: 100%; }
  #cmp-menu .item,
  #cmp-menu .item .text {
    font-size: 19.2px;
    font-size: 1.2rem; }
  #cmp-menu #cmp-head-menu {
    border-bottom: solid 1px white; }
  #cmp-menu #cmp-subhead-menu {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    #cmp-menu #cmp-subhead-menu .item {
      border-right: solid 1px white;
      width: 12.5%;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
  #cmp-menu #cmp-search-item {
    border-left: solid 1px white; }
  #cmp-menu #searchbox {
    color: #fff;
    margin-left: 8px;
    margin-left: .5rem; }
  #cmp-menu .administrator {
    border-left: 1px white solid;
    text-transform: uppercase; }
  #cmp-menu ::-webkit-input-placeholder {
    color: #fff;
    opacity: 1;
    font-size: 16px;
    font-size: 1rem; }
  #cmp-menu ::-moz-placeholder {
    color: #fff;
    opacity: 1;
    font-size: 16px;
    font-size: 1rem; }
  #cmp-menu :-ms-input-placeholder {
    color: #fff;
    opacity: 1;
    font-size: 16px;
    font-size: 1rem; }
  #cmp-menu ::-ms-input-placeholder {
    color: #fff;
    opacity: 1;
    font-size: 16px;
    font-size: 1rem; }
  #cmp-menu ::placeholder {
    color: #fff;
    opacity: 1;
    font-size: 16px;
    font-size: 1rem; }
