@font-face {
  font-family: "BrandonBlack";
  src: url("../fonts/BrandonGrotesque-Black.otf"); }

@font-face {
  font-family: "BrandonRegular";
  src: url("../fonts/BrandonGrotesque-Regular.otf"); }

@font-face {
  font-family: "BrandonLight";
  src: url("../fonts/BrandonGrotesque-Light.otf"); }

.footer-spacer {
  padding: 64px;
  padding: 4rem; }

#admin-navbar {
  margin: 0 0 16px;
  margin: 0 0 1rem;
  font-family: "BrandonRegular"; }

#site-navbar {
  margin: 0;
  border-radius: 0;
  font-family: "BrandonRegular"; }
  #site-navbar .text {
    font-size: 19.2px;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-family: "BrandonRegular"; }
  #site-navbar .ui.vertical.segment {
    width: 100%; }

.video-detail-container {
  margin: 32px;
  margin: 2rem;
  font-family: "BrandonRegular"; }
  .video-detail-container .header {
    padding: 16px 32px;
    padding: 1rem 2rem; }

#video-description {
  padding: 32px;
  padding: 2rem; }

#sequences-display {
  font-family: "BrandonRegular";
  overflow-y: scroll; }

.player-sequence-container {
  padding: 16px;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 39vw; }
  .player-sequence-container .player-container {
    min-width: 70%;
    --plyr-color-main: #dedede;
    margin: 0 !important;
    padding: 0 !important;
    border-radius: 0 !important; }
    .player-sequence-container .player-container #no-player {
      text-align: center;
      padding: 20%; }

#sequences-menu {
  margin: 0 !important;
  max-width: 60px;
  min-width: 60px;
  border-radius: 0;
  overflow-y: scroll; }

#sequences-display-content {
  padding: 32px;
  padding: 2rem; }

.meta-categorization-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 48px 80px;
  margin: 3rem 5rem; }
  .meta-categorization-container #video-meta-table {
    max-width: 50%;
    margin: 0; }
  .meta-categorization-container #categorization-container {
    max-width: 50%;
    margin: 0; }

.video-gallery-container {
  margin: 16px 32px;
  margin: 1rem 2rem; }
  .video-gallery-container .full-list-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .video-gallery-container .full-list-content .video-selector {
      width: 28vw;
      height: 30vh;
      margin: 16px;
      margin: 1rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      background-size: cover;
      background-position: center; }
      .video-gallery-container .full-list-content .video-selector .not-public-label {
        color: #dedede;
        font-size: 32px;
        font-size: 2rem;
        margin: 16px;
        margin: 1rem; }
      .video-gallery-container .full-list-content .video-selector .video-label {
        padding: 8px;
        padding: .5rem;
        color: #dedede;
        background-color: #000;
        font-family: "BrandonRegular"; }
      .video-gallery-container .full-list-content .video-selector .duration-label {
        padding: 8px;
        padding: .5rem;
        color: #dedede;
        -ms-flex-item-align: center;
            align-self: center; }
      .video-gallery-container .full-list-content .video-selector:hover {
        opacity: 0.9; }

.pagination-container {
  width: 50%;
  margin: 80px auto 128px auto;
  margin: 5rem auto 8rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.header-filter-container {
  width: 80%;
  margin: 64px auto;
  margin: 4rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "BrandonRegular"; }
  .header-filter-container .filter-name {
    width: 40%; }
  .header-filter-container .filter-description {
    padding: 16px 48px;
    padding: 1rem 3rem; }

#video-list-querysearch {
  font-family: "BrandonRegular";
  text-align: center;
  margin: 32px;
  margin: 2rem; }

#formset-list-container {
  margin: 5% 10%; }
  #formset-list-container .formset-list-actions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 48px 0;
    margin: 3rem 0; }
  #formset-list-container #formset-list-footer-pagination {
    margin: 48px 0;
    margin: 3rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }

#video-admin-container {
  margin: 5% 10%; }
  #video-admin-container .form-group {
    padding: 32px;
    padding: 2rem; }

.cmp-footer {
  position: fixed;
  bottom: 0;
  z-index: 9999;
  max-height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "BrandonRegular";
  padding: 16px;
  padding: 1rem;
  background-color: #dedede;
  width: 100%;
  max-height: 150px; }
  .cmp-footer .footer-left,
  .cmp-footer .footer-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .cmp-footer .footer-right {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    .cmp-footer .footer-right .link {
      color: black;
      font-size: 24px;
      font-size: 1.5rem; }
    .cmp-footer .footer-right .text {
      padding-right: 16px;
      padding-right: 1rem; }
  .cmp-footer .footer-left {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left; }
    .cmp-footer .footer-left .footer-logo {
      height: 64px;
      height: 4rem;
      width: auto;
      padding: 0 16px;
      padding: 0 1rem;
      margin: 0 !important; }
