{% extends "base.html" %}

{% block title %}
  {% if home_page %} {{ home_page.title }} - {% endif %}{{ site_name }}
{% endblock title %}

{% block content %}
  {% if home_page.header_image %}
    <div
      class="page-header-image"
      style="
        background-image: url('{{home_page.header_image.url}}');
        background-color: #dedede;
      "
    ></div>
  {% endif %}
  <div id="home-container" class="txt">
    {% autoescape off %}
      {{ home_page.body.html }}
    {% endautoescape %}
  </div>
{% endblock content %}
{% block extra_js %}
{% endblock extra_js %}
